
 /*  start header  */
 
nav {
  background:#c1d4f0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 99;
}

.fas {
  cursor: pointer;
}

.menu-icon {
  display: none;
  font-size: 20px;
}
.menu-icon .fa-times {
  transform: rotate(360deg);
  transition: all 0.2s ease-in-out;
}

.menu-icon .fa-bars {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

.logo {
  padding-bottom: 0px;
  margin: -20px;
}



.menu-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list li a {
  text-decoration: none;
  color:black;
  font-weight: 300;
  padding: 5px 10px;
  margin-left: 20px;
}

.menu-list li a:hover,
.menu-list li a.active {
  border-radius: 2px;
  color:blue;
  background-color: aqua;
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 800px) {
  .logo {
    font-size: 20px;
  }
  .menu-list li a {
    font-size: 14px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 600px) {
  .menu-icon {
    display: block;
  }
  .logo {
    padding-bottom: 0px;
    margin: -15px;
  }
  .logo img{
    width: 220px;
    height: 60px;
  }
  .menu-list {
    flex-direction: column;
    width: 100%;
    position: absolute;
    background: #00000075;
    padding: 20px;
    right: 0;
    top: 64px;
    transition: all 0.5s ease-in-out;
  }

  .menu-list li {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  
  }
 

  .menu-list li a {
    width: 100px;
    display: block;
    margin: auto;
    right: -100%;
  }

  .menu-list.close {
    right: -100%;
    transition: all 0.5s ease-in-out;
  }
}
 /*  end header  */


 .slider{
   background-color: white;
 }
 .si{
   display: flex !important;
   justify-content: center !important;
   align-items: center !important;
   height: 40vh;
 }

 .home_container {
   padding-top: 40px;
 }

 /*  footer start */


.containers{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	/* position: absolute; */
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/*  footer end */

/* Contact us start  */








 