* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background:#e4ebf5;
  overflow-y: scroll;
  text-align: center;
}

/* .nab_header {
  position:sticky;
} */
